@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; /* Keep white background even in dark mode */
    --foreground: #171717; /* Keep dark text even in dark mode */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 80px; /*Add padding equal to navbar height */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Navbar */
@layer components {
  .navbar {
    @apply flex items-center justify-between;
    @apply w-full h-[80px];
    @apply px-[50px] gap-[10px] fixed z-50 top-0;
    @apply bg-[#F4BFBF];
    max-width: 100vw; /* Ensure navbar doesn't exceed viewport width */
    overflow-x: hidden; /* Hide horizontal overflow */
  }

  .nav-logo-text {
    @apply text-2xl text-white;
    @apply font-semibold text-[#222432];
    font-family: "fraunces", sans-serif;
  }

  .nav-logo-text:hover {
    @apply text-[#6096B4];
  }

  .nav-searchbar {
    @apply w-[450px] h-[50px] bg-white;
    @apply px-[20px] py-[11px] rounded-4xl;
    @apply text-xl text-[#222432] shadow-xl;
    font-family: "fraunces", sans-serif;
    resize: none;
  }

  .nav-links-group {
    @apply flex justify-items-center gap-[40px];
  }

  .nav-buttons-group {
    @apply flex flex-row gap-[20px];
  }
}

/* Components */
@layer components {
  .title {
    @apply text-6xl text-[#222432] font-semibold;
    font-family: "fraunces", sans-serif;
  }

  .sub-title {
    @apply text-2xl text-[#222432] font-semibold;
    font-family: "Varela Round", sans-serif;
  }
}

/* Reusable Buttons */
.buttonA {
  @apply flex justify-center items-center;
  @apply px-[20px] h-[50px] rounded-4xl bg-white shadow-md;
  @apply transition-transform transform duration-200 ease-in-out;
  @apply text-[#222432] text-base no-underline font-semibold;
  @apply cursor-pointer;
  font-family: "fraunces", sans-serif;
}

.buttonA:hover {
  transform: scale(1.1);
}

.buttonB {
  @apply flex justify-center items-center;
  @apply px-[20px] h-[50px] rounded-4xl bg-[#222432] shadow-md;
  @apply transition-transform transform duration-200 ease-in-out;
  @apply text-white text-base no-underline font-semibold;
  @apply cursor-pointer;
  font-family: "fraunces", sans-serif;
}

.buttonB:hover {
  transform: scale(1.1);
}

.buttonC {
  @apply flex justify-center items-center w-full;
  @apply px-[20px] h-[50px] rounded-4xl bg-[#6096B4] shadow-md;
  @apply transition-transform transform duration-200 ease-in-out;
  @apply text-white text-base no-underline font-semibold;
  @apply cursor-pointer text-2xl;
  font-family: "fraunces", sans-serif;
}

.buttonC:hover {
  transform: scale(1.05);
}

.button-close {
  @apply absolute top-4 right-4 text-gray-400 hover:text-gray-600 text-4xl;
}

/* Hero Section*/
.content {
  @apply flex flex-col h-screen bg-[#FAF0D7] gap-[20px];
  @apply items-center justify-center text-center px-4 md:px-10 lg:px-40;
}

/* Reusable Events Section */
.content-events {
  @apply flex flex-col;
  @apply h-[650px] bg-[#FFD9C0] gap-[50px] py-[30px];
}

.discover-events {
  @apply flex px-[50px] mx-[50px] justify-between items-center;
}

/* Footer */
@layer components {
  .footer {
    @apply flex py-[30px] md:py-[50px];
    @apply bg-[#FFD9C0];
  }

  .footer-content {
    @apply flex flex-col md:flex-row w-full px-6 md:px-[100px];
  }

  .footer-group {
    @apply flex flex-col w-full md:w-1/2 mb-8 md:mb-0;
  }

  .social-links-container {
    @apply flex gap-5;
  }

  .social-links {
    @apply w-[30px] h-[30px];
  }

  .small-logo {
    @apply w-[50px] h-[50px];
    @apply object-contain cursor-pointer;
    @apply transition-transform transform duration-200 ease-in-out;
  }

  .big-logo {
    @apply w-[150px] h-[150px] md:w-[200px] md:h-[200px];
    @apply flex object-contain;
  }

  .text-group-wrapper {
    @apply flex flex-row gap-[20px];
  }

  .text-group {
    @apply flex flex-col;
  }

  .small-text {
    @apply text-sm md:text-base text-[#222432] font-semibold mb-[10px] md:mb-[20px];
  }

  .medium-text {
    @apply text-lg md:text-xl text-[#222432] font-bold mb-[15px] md:mb-[20px];
  }
}
